input {
    top: 20px;
    left: 40px;
    width: 230px;
    height: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    color: #BCBCBC;
    font: normal normal normal 14px/20px Jost;
    border: 0px;
    border-radius: 5px;
    opacity: 1;
    padding: 10px 10px 10px;
    margin-top: 20px;
    margin-left: 40px;
}
.getweather {
    top: 20px;
    left: 310px;
    width: 112px;
    height: 40px;
    background: #459DE9 0% 0% no-repeat padding-box;    
    box-shadow: 0px 3px 6px #00000029;
    border: 0px;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 14px/20px Jost;
    letter-spacing: 0px;
    color: #FFFFFF;
}

h3 {
    top: 251px;
    left: 55px;
    width: 184px;
    height: 58px;
    text-align: left;
    font: normal normal normal 44px/64px Jost;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0px;
    padding-top: 15px;
}

sup {
    width: 164px;
}

.feels {
    font: normal normal normal 13px/19px Jost;
    color: #C5C5C5;
    text-align: left;
}

.temp {
    width: fit-content;
    height: 70px;
    display: flex;
    flex-direction: column
}

.temp sup {
    font: normal normal normal 22px/32px Jost;
}

.maincard {
    top: 82px;
    left: 40px;
    width: 325px;
    height: 247px;
    background: #FFF1FE 0% 0% no-repeat padding-box;
    font-family: Jost;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    margin: 22px 40px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.cardtitle {
    top: 92px;
    width: inherit;
    height: 23px;
    text-align: left;
    font: normal normal normal 16px/23px Jost;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    left: 435px;
    display: flex;
    flex-direction: row;
}

.cardsubtitle {
    margin-top: 4px;
    font: normal normal 300 18px/26px Jost;

}

.section {
    font: normal normal normal 12px/18px Jost;
    letter-spacing: 0px;
    opacity: 1;
    width: 320px;
    height: 100px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: 20px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
}

.weather {
    display: inline-block;
    width: 100%;
}

.characteristics p {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #459DE9;
}

.characteristics b {
    color: #000000;
}


.characteristics {
    margin-left: auto;
    padding-top: 23px;
    margin-right: 0px;
    width: fit-content;
    height:70px
}

.cardtitle span {
    margin-left: auto;
    margin-right: 0px;
    top: 94px;
    left: 326px;
    width: fit-content;
    height: 19px;
    font: normal normal normal 13px/19px Jost;
    letter-spacing: 0px;
    color: #C5C5C5;
    opacity: 1;
}

.krest {
    padding-bottom: 20px;
    margin-left: 12px;
    margin-right: 0px;
    border: none;
    background-color: inherit;
    color: #C5C5C5;
    opacity: 1;
    top: 88px;
    left: 375px;
    width: 7px;
    height: 7px;

}